.main {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 147px;
  height: 42px;
  font-size: 14px; /* размер шрифта */
  font-weight: 500; /* жирность шрифта */
  color: #fff; /* цвет текста */
  background-color: #242EDB; /* фон кнопки */
  border: none;
  border-radius: 6px; /* закругление углов */
  cursor: pointer;
}
.icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 6px;
    margin-left: 10px; 
}
.label {

}